.searchFilter {
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  }

  .filters {
    padding: 30px;
  }

  .Input {
    
  }